@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #a10000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 0.899rem;
}
h1 {
  font-size: clamp(1.8rem, 2.5vw, 2.1rem);
}

h2 {
  font-size: clamp(1.3rem, 2vw, 1.4rem);
}

h3 {
  font-size: clamp(1.1rem, 1.8vw, 1.15rem);
}

h4 {
  font-size: clamp(1rem, 1.5vw, 1rem); /* stays stable */
}

h5 {
  font-size: clamp(0.8rem, 1.2vw, 0.82rem);
}

h6 {
  font-size: clamp(0.7rem, 1vw, 0.65rem);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-light {
  color: rgb(95, 95, 95);
}
.border-light {
  border-width: 1px;
  border-color: #e5e7eb;
}
.container-light {
  background-color: rgb(249, 250, 251);
}
/* Splash background gradient animation */
.splash-bg {
  background-size: 400% 400%;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Logo bounce shadow animation */
@keyframes bounceShadow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-bounceShadow {
  animation: bounceShadow 1.5s ease-in-out infinite;
}

/* Fade in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

@keyframes pulseRed {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.02); opacity: 0.85; }
}

.pulse-red {
  animation: pulseRed 1.5s infinite;
}




